#dial {
  z-index: 1000;
  height: 15px;
  position: fixed;
  top: 0px;
  left: 0px;
}

header h1{
  display: inline;
  font-size: 28px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  height: 28px;
  background-color: black;
  color: white;
  font-size: 28px;
  padding-top: 25px;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.5) 0,
      rgba(255, 255, 255, 0.5) 2%,
      transparent 2%
    ),
    linear-gradient(0deg, #000000 50%, transparent 50%),
    linear-gradient(
      90deg,
      transparent 50%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.5) 52%,
      transparent 52%
    ),
    linear-gradient(0deg, #000000 70%, transparent 70%),
    linear-gradient(
      90deg,
      transparent 10%,
      rgba(255, 255, 255, 0.4) 10%,
      rgba(255, 255, 255, 0.4) 12%,
      transparent 12%,
      transparent 20%,
      rgba(255, 255, 255, 0.4) 20%,
      rgba(255, 255, 255, 0.4) 22%,
      transparent 22%,
      transparent 30%,
      rgba(255, 255, 255, 0.4) 30%,
      rgba(255, 255, 255, 0.4) 32%,
      transparent 32%,
      transparent 40%,
      rgba(255, 255, 255, 0.4) 40%,
      rgba(255, 255, 255, 0.4) 42%,
      transparent 42%,
      transparent 60%,
      rgba(255, 255, 255, 0.4) 60%,
      rgba(255, 255, 255, 0.4) 62%,
      transparent 62%,
      transparent 70%,
      rgba(255, 255, 255, 0.4) 70%,
      rgba(255, 255, 255, 0.4) 72%,
      transparent 72%,
      transparent 80%,
      rgba(255, 255, 255, 0.4) 80%,
      rgba(255, 255, 255, 0.4) 82%,
      transparent 82%,
      transparent 90%,
      rgba(255, 255, 255, 0.4) 90%,
      rgba(255, 255, 255, 0.4) 92%,
      transparent 92%
    );
  background-size: 50px 20px;
  background-repeat: repeat-x;
}

#shortname{
    display: none;
    /*width: 100%;
    text-align: center;*/
}

@media only screen and (max-width: 400px){
    /*Change style when <400px*/
    #longname{
        display: none;
    }
    #shortname{
        display:initial;
    }
}