@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Special Elite", sans-serif;
}

section{
    min-height: 200px;
}

section a{
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 3px solid silver;
    padding: 2px;
    vertical-align: middle;
}